.lg-field .field {
  max-width: 17rem !important;
}

.field.value-input {
  margin-bottom: 0px !important;
}

.value-input input {
  border-top-left-radius: 1.5rem !important;
  border-top-right-radius: 1.5rem !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.unit-input .selection {
  background-color: #f1eef1 !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 1.5rem !important;
  border-bottom-right-radius: 1.5rem !important;
}
